
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/
body {
    background-color: #EDEDED;
    font-family: "Inter Tight", sans-serif;
    color: #4A4A4A;
    font-optical-sizing: auto;
    line-height: 1.5;
}

/* TYPOGRAPHY 
----------------------------- */

h1 {
    color: #AF4912;
    margin-bottom: 0;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.h1-caption {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 1.3rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

@media (min-width: 43.75rem) {
    h1 {
        font-size: 2.5rem;
        /* margin-bottom: 2rem; */
    }
    .h1-caption {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h2 {
        font-size: 3rem;
    }

@media (min-width: 62.5rem) {
    h1 {
        font-size: 5rem;
        margin-bottom: 2rem;

    }

    .h1-caption {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

}
}

/* ELEMENTS 
------------------------------*/


/* LINKS 
------------------------------*/
a {
    text-decoration: none;
    color: #4A4A4A;
}

/* 
a,
a:visited { 
	color: 
	text-decoration: 
}

a:hover,
a:focus,
a:active {
	text-decoration: 
}

a:focus {
	outline: 
}
*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Site Header */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1 0.5rem;

}

.logo {
    text-decoration: none;
    color: #4A4A4A;
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 0.5rem;
}


.nav-header ul {
    display: flex;
    gap: 0.5rem; 
    margin-right: 0.5rem;

} 

.nav-header li {
    display: inline-block;
    font-size: 1.2rem;
}


@media (min-width: 43.75em) {

    /* .site-header{
        /* margin: 0 auto;
    }  */

    .nav-header ul {
        gap: 2rem; 
        margin-right: 2rem;
    
    } 
    
    .nav-header li {
        font-size: 2rem;
    }

}

.page-header {
    /* display: flex;
    flex-direction: column; REMOVE THIS!!!!*/ 
    margin: 0 auto;
    align-items: center;
    
}

.header-name {
    text-align: center;
}

.page-header img {
    display: block;
    border-radius: 15%;
    max-width: 60%;
    margin: 0 auto;
}
.skill {
    margin-top: 0.5rem;
    padding: 0 3rem
}

.skill li {
    display: inline-block;
    padding: .0625rem 0.6rem;
    margin: .0938rem 0;
    border:solid #d3d3d3;
    background-color: #d3d3d3;
    color: #5a5a5a;
    border-width: .0938rem;
    border-radius: 2.5rem;
    font-size: 1rem;
}

@media (min-width: 43.75em) {

    .page-header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* gap: 5rem; */
        /* margin: 10rem 5rem 15rem 5rem; */
        margin: 5rem auto;
        padding: 1rem;

    }
    .page-header img {
        max-height: 25rem;
        margin: 0;
    }

    .header-name {
        text-align: left;
    }
    
    .skill {
        padding: 0;
    }
    /* .skill ul {
        text-align:left;
    } */

@media (min-width: 62.5rem) {
    
    .page-header {
        padding: 0;
        margin-top: 10rem;
        margin-bottom: 10rem;
        /* gap: 8rem; */ 
        /* test gap later */
    }
}

}

 

.section-about {
    padding: 0 2rem;
}
.section-about h2 {
    text-align: center;
}

@media (min-width: 43.75em) {
    .section-about {
        max-width: 50%;
		margin: 0 auto;
    }

}

.project {
    background-color: #d3d3d3;
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem 1rem;
    width: fit-content;

}
.section-projects h2 {
    text-align: center;
}

.project-image {
    border-radius: 1rem;
}

.project-title {
    display: inline;
}
.project-link {
    display: inline-block;
    padding: .0625rem 0.5rem;
    margin: .0938rem 0;
    border:solid #817f7f;
    border-width: .0938rem;
    border-radius: 2.5rem;
    background-color: #4A4A4A;
    color: #d1cfcf;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

@media (min-width: 43.75em) {
    .projects-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project {
        max-width: 35%;
    }

}

.section-contact {
    text-align: center;
    display: flex;
    flex-direction: column;
}

    




.contact-btn {
    align-items: center;
    padding-left: 0;
} 

.contact-btn li {
    display: inline-block;
    padding: .0625rem 0.6rem;
    margin: .0938rem 0;
    font-size: 1.2rem;
    border:solid #4A4A4A;
    background-color: #4A4A4A;
    color: #EDEDED;
    border-radius: 2.5rem;
}

footer {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    background-color: #4A4A4A;
    color: #EDEDED;
    padding: 1rem;
}




